.go-home{
    cursor: pointer;
    width: max-content;
    height: 55px;
    /* UI Properties */
    background: #FCEFF9 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #08070880;
    border-radius: 30px;
    text-align: left;
    font: normal normal normal 30px/40px Test Söhne;
    letter-spacing: 0px;
    color: #080708;
    display: flex;
    gap: 10px;
    padding: 7px 20px;
    align-items: center;
    margin-bottom: 50px;
}
.go-home img {
    /*width: 18px;*/
    height: 30px;

}